<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.common.dao.BaseDao">

    <sql id="table_schema">
        `table_schema` = 'test'
    </sql>

    <select id="encode" resultType="java.lang.String">
        SELECT HEX(encode(#{str}, #{pwd}))
    </select>

    <select id="decode" resultType="java.lang.String">
        SELECT decode(UNHEX(#{str}), #{pwd})
    </select>

    <select id="listColumns" resultType="java.lang.String">
        SELECT
          `column_name`
        FROM
          information_schema.`COLUMNS`
        WHERE
          <include refid="table_schema"/>
          AND `table_name` = #{tableName}
    </select>

    <select id="listColumnValues" resultType="java.lang.String">
        SELECT `${columnName}` FROM `${tableName}`
    </select>

    <select id="getByKey" resultType="java.util.HashMap">
        SELECT
          *
        FROM
          `${tableName}`
        WHERE
          `${columnName}` = #{key}
        LIMIT 1
    </select>

    <select id="checkTable" resultType="java.lang.String">
        SELECT
          `table_name`
        FROM
          information_schema.`TABLES`
        WHERE
          <include refid="table_schema"/>
          AND `table_name` = #{tableName}
    </select>

    <select id="checkColumn" resultType="java.lang.String">
        SELECT
          `column_name`
        FROM
          information_schema.`COLUMNS`
        WHERE
          <include refid="table_schema"/>
          AND `table_name` = #{tableName}
          AND `column_name` = #{columnName}
    </select>

</mapper>