<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.common.dao.ConstantsDao">

    <insert id="save">
        INSERT INTO `t_constants_base`
          (constants_key, constants_value)
        VALUES
          (#{key}, #{value})
    </insert>

    <select id="getBaseConstants" resultType="java.lang.String">
        SELECT
          constants_value
        FROM
          t_constants_base
        WHERE
          constants_key = #{key}
          AND `status` = 1
        LIMIT 1
    </select>

    <select id="getModuleConstants" resultType="java.lang.String">
        SELECT
          constants_value
        FROM
          t_constants_${module}
        WHERE
          constants_key = #{key}
          AND `status` = 1
        LIMIT 1
    </select>

    <select id="listBaseConstants" resultType="java.lang.String">
        SELECT
          constants_value
        FROM
          t_constants_base
        WHERE
          constants_key = #{key}
          AND `status` = 1
    </select>

    <select id="listCodeMsg" resultType="java.util.HashMap">
        SELECT
          `constants_key`, code, msg
        FROM
          t_reslut_code_msg
        WHERE
          `status` = 1
    </select>

    <select id="constantsTables" resultType="java.lang.String">
        SELECT
          GROUP_CONCAT( t.table_name )
        FROM
          information_schema.TABLES t
        WHERE
          t.table_type = 'base table'
          AND t.table_name LIKE 't_constants_%'
          AND EXISTS (
              SELECT column_name FROM
                information_schema.COLUMNS
              WHERE table_name = t.table_name AND column_name = 'constants_key' AND data_type = 'varchar'
            )
          AND EXISTS (
              SELECT column_name FROM
                information_schema.COLUMNS
              WHERE table_name = t.table_name AND column_name = 'constants_value' AND data_type = 'varchar'
            )
    </select>

    <select id="listConstants" parameterType="java.lang.String" resultType="java.util.HashMap">
        <foreach collection="tables.split(',',-1)" index="index" item="item" open="" separator=" union all " close="">
            SELECT constants_key, constants_value FROM ${item}
        </foreach>
    </select>

</mapper>